.welcome {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: 90%;
    margin: auto;
    padding-top: 40px;
}
.perfil {
    flex: 1;
  }

.foto {
  position: relative;
  display: flex; /* Usamos flexbox */
  justify-content: center; /* Centramos horizontalmente */
  flex: 1;
  margin-top: 10px;
  border-radius: 30px;
}

.foto img {
  width: 50%; 
  height: auto; 
  border-radius: 20px ;
  background: linear-gradient(1deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 15px #2e2885, 4px -4px 8px #ffffff;

}

.perfil h3 {
  font-weight: 1;
  letter-spacing: 2px;
}

.perfil h1 {
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.perfil h1 span {
  color: #ff014f;
}

.perfil h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ff014f;
}

.perfil h2 span {
  color: rgb(19, 2, 2);
}

.perfil p {
  /*Parrafo */
  color: #33373b;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}

.perfil p span{
  /*Parrafo */
  color: #af2117;
  font-size: 20px;
}










.hero_btn {
  margin-top: 74px;
}

.hero_btn h4 {
  font-weight: 500; /* para agrandar la letra */
  letter-spacing: 2px;
  color: #080808;
  font-size: 20px;
  margin: 30px 0 30px 0;
}

.hero_btn button {
  margin-right: 20px;
  margin-top: 20px;
}
.button1 {
  /*Forma y tama;o de features*/
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0px;
}
.button2 {
  /*Forma y tama;o de features*/
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 5px;
}

.hero_btn i {
  font-size: 30px;
}

.hero_btn button img {
  width: 70px;
  height: 70px;
}

.hero .left {
  margin-top: 5%;
}

.hero .right {
  /*fondo de la foto*/
  width: 190px;
  position: relative;
}

.hero .right_img {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #2e2885, 4px -4px 8px #ffffff;
  border-radius: 20px;
  height: 590px;
  width: 470px;
  margin-top: 15%;
  top: 100px;
}
.right {
  left: 120px;
  width: 190px;
  position: relative;
}

.hero img {
  position: absolute;
  top: 95px;
  right: 0;
  left: 25%;
  width: 370px;
  border-radius: 30px;
}

@media (max-width: 800px) {
  .hero .right,
  .hero .left {
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
  }

  .hero .home {
    margin-top: 25%;
  }
  .hero .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero .right_img {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
